# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
backend/.env
frontend/.env
backend/*.db
backend/src/utils/firebase-service-account.json
# frontend/google-services.json
# frontend/android/app/google-services.json
# frontend/android/app/src/main/res/values/google-services.json
# **/google-services.json
**/firebase-service-account.json

# typescript
*.tsbuildinfo

# generated native folders
# /android


pageturner-c5be1-firebase-adminsdk-fbsvc-4b43bbd046.jsonpageturner-c5be1-firebase-adminsdk-fbsvc-4b43bbd046.json
/pageturner-c5be1-firebase-adminsdk-fbsvc-4b43bbd046.json
!pageturner-c5be1-firebase-adminsdk-fbsvc-4b43bbd046.json

#remove android folder
android/
